################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IXOS File Name Extensions/bin/Debug
/IXOS File Name Extensions/obj/Debug

/.vs